@charset "UTF-8";

/*Typical Device Breakpoints
 2023
 Móvel: 360 x 640
Móvel: 375 x 667
Móvel: 360 x 720
iPhoneX: 375x812
Pixel 2: 411x731
Tábua: 768 x 1024
Computador portátil: 1366 x 768
Laptop ou desktop de alta resolução: 1920 x 1080*/

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }
}

main {
    max-width: 768px;
}
